body {
  display: flex;
  align-items: center;
  justify-content: center;
}
table {
  border-collapse: collapse;
}
table thead {
  background-color: black;
  color: white;
}
table td,
table th {
  border: 1px dotted #aaa;
  padding: 5px;
}
