body {
	font-family: arial;
	display:flex;
	align-items: center;
	justify-content: center;
}

table {
		
		border-collapse : collapse;

		thead {
			background-color: black;
			color:  white;
		}
		
		td,th {
		 	border : 1px dotted #aaa;
		 	padding : 5px;
		}
}